body {
    color: orange;
    background: black;
    margin: 0px;
    font-family: "Anton SC", sans-serif;
    margin-bottom: 100px; 
}

heather{
 border-bottom: solid 4px rgb(125, 117, 16, 1);
 padding: 10px;
 font-size: 32px;
color: rgb(125, 117, 16, 1);
}

section{
   background: rgb(90, 47, 30, 1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%px;
}

h1{
font-size: 40px;

}

p{
    font-size: 20px;
}

img{

    height: 200px;
}

  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }

  /* código omitido */

  .categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

  .categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}